<div class="cardss">
       <div class="">
           <p>Name:{{datafromparent.name}}</p>
           <p >Roll-Number:{{datafromparent.rollnumber}}</p>
           <p>email:{{datafromparent.email}} </p>
           <p>Phone-Number:{{datafromparent.phoneno}}</p>
           <p>Year:{{datafromparent.gradyear}}</p>
           <p>Section:{{datafromparent.section}}</p>
           <p>Class Room-No:{{datafromparent.roomno}}</p>
           <p>Wants to service:{{datafromparent.service}}</p>
           <a class="btn btn-primary" >View the news</a>
       </div>  
</div> 

