<div class="register container">
    <div class="row kk">
        <div class="form-group col-md-6">
            <button routerLink="/UserPage/ServicerDetails">Donor Details</button>
            <button routerLink="/UserPage/ContactDonors">Contact Donors</button>
        </div>
        <div class="form-group col-md-6">
            <h6>Donor Details page gives you the servicer Details who wants to service their products</h6><hr>
            <h6>Contact Donors page helps to contact the servicers who are active now with sending the web notifications</h6>
        </div>
    </div>
</div> 