.register{
    margin-top:150px;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius:20px;
    box-shadow: 0px 20px 20px 0px;
    padding:20px;
}
.capt{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:30px;
    font-weight: bold;
}
.username{
    text-decoration:underline;
}
@media screen and (max-width: 800px) {
    .register {
      padding:0px;
    }
  }
